@import "~bootstrap/scss/bootstrap";

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    overflow: hidden;
}


main{
    background-color: #1E2D3B;
    height: 100%;
}